.tab-img {
    height: 250px;
    width: 250px;
    margin: auto;
}
.tab:hover {
    box-shadow: #b9b9b9 0px 4px 10px;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 14px;
    padding: 20px 0px;
}
.tab-content p {
    font-size: 15px;
}

.tab-content h3 {
    font-size: 17px;
    font-weight: 600;
}
.tab-content {
    margin: 0 10px;
}
p.tab-price {
    font-weight: 600;
    font-size: 20px;
}