.banner-section {
    background-image: url('../../images/bannerbackground.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.b-body {
    width: 100%;
}
.food-tabs-section {
    padding: 3% 0%;
}
form.b-search {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: center;
}
input.bs-input::placeholder {
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 1px;
}
input.bs-input {
    padding: 15px 20px;
    border: none;
    border-radius: 35px;
    width: 400px;
}
input.bs-submit {
    padding: 15px 40px;
    border-radius: 35px;
    border: none;
    color: white;
    background-color: #E51A4B;
    margin-left: -70px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .8px;
}
.tab-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.tab-menu {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    width: 55%;
    margin: 40px auto;
}
.tab-menu button {
    border: none;
    background-color: transparent;
    padding: 3px 15px;
    margin: 0 20px;
}

/* media query*/
@media only screen and (max-width:768px){
    .banner-section{
        background-position: unset;  
        gap: 20px;
    }
    .b-head h1 {
        font-size: 30px;
        font-weight: 400;
    }
    .tab-items{
        grid-template-columns:repeat(1,1fr);
    }
    .tab-menu{
        display: grid;
        width: 95%;
        margin: 20px auto;
    }
    .tab-menu button{
        padding: 3px;
        margin: 0 10px;
    }
    input.bs-input{
        width:300px
    }
    .bs-submit {
        font-size: 15px;
    }
    
    input.bs-input::placeholder {
        font-size: 15px;
    }
}