.banner-section {
    background-image: url('../../images/bannerbackground.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.food-tabs-section {
    padding: 5% 0%;
}
input.bs-input::placeholder {
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 1px;
}
input.bs-input {
    padding: 15px 20px;
    border: none;
    border-radius: 35px;
    width: 400px;
}
input.bs-submit {
    padding: 15px 40px;
    border-radius: 35px;
    border: none;
    color: white;
    background-color: #E51A4B;
    margin-left: -70px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .8px;
}
.tab-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.tab-menu {
    margin: 30px 0px;
}
.tab-menu button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    margin: 0 20px;
}